@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Poppins:wght@100;400;700&display=swap');

:root {
  --primary-font: 'Poppins', sans-serif;
  --secundary-font: 'DM Sans', sans-serif;
/* HSL color mode */
  --hue: 200;
  --base-color: hsl(var(--hue) 36% 57%);
  --base-color-second: hsl(var(--hue) 65% 88%);
  --base-color-alt: hsl(var(--hue) 57% 53%);
  --title-color: hsl(var(--hue) 41% 10%);
  --text-color: #757575;
  --text-color-light: hsl(0 0% 98%);
  --body-color: hsl(0 0% 98%);
  
  font-size: 62.5%;
}


/* --------- GERAL ---------- */

* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 100vw;
  margin: auto;
  font-family: var(--secundary-font);
  background-color: var(--body-color);
}

h1 {
  font-family: var(--primary-font);
}

main {
  background-color: var(--background-color-1);
}

a {
  text-decoration: none;
  color: white;
}

.container {
  padding-block: 8rem;
}

.text {
  max-width: 50rem;
  margin: auto;
  padding: 2.4rem;

}

h2 {
  font-weight: 700;
  font-size: 3rem;
  line-height: 4.5rem;
  text-align: left;
}

h3 {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 3.6rem;

}

p {
  font-family: 'DM Sans';
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.1rem;
  text-align: left;

  color: #767676;
}

/* ---------- HEADER ---------- */

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 7.2rem;

  border-bottom: 1px solid var(--text-color-light);
  padding-inline: 2.4rem;

}
#header h1 {
  font-weight: 700;
  font-size: 2.1rem;
  line-height: 3.2rem;
}

#header h1 span {
  color: var(--base-color);
}

#header svg path[stroke*="#69B99D"] {
  stroke: var(--base-color)
}

/* ---------- HOME ------------ */
#home {
  border-bottom: 1px solid;
  border-image: linear-gradient(to right, white, var(--base-color)) 1;
}
#home .container{
  margin-top: 0;
  padding-top: 0;
}

#home .image {
  margin: auto;
  margin-top: 3.2rem;
  max-width: 37.5rem;
  max-height: 26.3rem;
  position: relative;
}

#home .image img{
  border-radius: 4px;
  max-width: 90%;
  margin-top: 4.1rem;
  position: relative;
  
}

#home .image::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 90%;
  height: 90%;
  border-radius: 4px;
  background-color: var(--base-color-second);
}

#home .text a {
  max-width: 21.4rem;
  height: 5.6rem;

  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.1rem;


  background-color: var(--base-color);
  border-radius: 4px;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  left: 50%;

  transform: translate(-50%);

}



/* ----------  ABOUT ------------- */
#about {
  background-color: white;
  border-bottom: 1px solid;
  border-image: linear-gradient(to left, white, var(--base-color)) 1;
}

#about .image img{
  border-radius: 4px;
  max-width: 100%;
  position: relative;
}

#about .image {
  margin: auto;
  max-width: 37.5rem;
  position: relative;
  margin-top: 2.1rem;
}

#about .image::before {
  content: '';
  position: absolute;
  top: -2.1rem;
  left: -12rem;
  width: 90%;
  height: 90%;
  border-radius: 4px;

  background-color: var(--base-color-second);
}

#about .text h2,
#about .text p  {
  text-align: left;
  max-width: 50rem;
}

#about .text h2 {
  max-width: 50rem;
  margin-top: 3.3rem;
  margin-bottom: 1.6rem;
}

/* --------- SERVICES ------------ */
#services {
  padding-inline: 2.4rem ;
}
#services .blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;

}

#services .block {
  
  width: 32rem;
  

  padding: 5.8rem 3.2rem ;
  
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;

  background: var(--body-color);
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
}

#services .block:hover {
  border-bottom: 4px solid var(--base-color);
  transition: border 0.4s;
}

#services .block h3 {
  margin-top: 2.4rem;
  margin-bottom: 1.2rem;
}

#services .block p {
  margin: 0;

  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.6rem;

  text-align: center;
}

#services .block path[fill*="#69B99D"] {
  fill: var(--base-color)
}

